In [113]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
df = pd.read_csv('./datasets/train.csv')

In [115]:
df.shape

(2051, 81)

In [116]:
df.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

Because there are so many columns, I wanted to identify only the columns that contain null values. I experimented and wasn't having any luck, so I did some research: this [stackoverflow](https://stackoverflow.com/questions/53137100/filter-pandas-dataframe-columns-with-null-data) showed me the approach I used below.

In [117]:
df.columns[df.isna().any()].tolist()

['Lot Frontage',
 'Alley',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin SF 1',
 'BsmtFin Type 2',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Cars',
 'Garage Area',
 'Garage Qual',
 'Garage Cond',
 'Pool QC',
 'Fence',
 'Misc Feature']

In [118]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [119]:
df.head(2)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000

#### Lot Frontage

In [120]:
df['lot_frontage'].value_counts(dropna = False)

NaN      330
60.0     179
70.0      96
80.0      94
50.0      90
        ...
119.0      1
122.0      1
22.0       1
155.0      1
135.0      1
Name: lot_frontage, Length: 119, dtype: int64

In [121]:
df['lot_frontage'].isna().sum()/len(df)

0.16089712335446124

16% of the data seems like a lot to drop.

### Alley - NaN --> 'None'

In [122]:
df['alley'].value_counts(dropna = False)

NaN     1911
Grvl      85
Pave      55
Name: alley, dtype: int64

It appears that NaN means there is no alley. I'm going to replace NaN with 'None' for now.

In [123]:
df['alley'] = df['alley'].fillna('None')

df['alley'].value_counts(dropna = False)

None    1911
Grvl      85
Pave      55
Name: alley, dtype: int64

### Masonry Veneer Type

In [124]:
df['mas_vnr_type'].value_counts(dropna = False)

None       1218
BrkFace     630
Stone       168
NaN          22
BrkCmn       13
Name: mas_vnr_type, dtype: int64

In [125]:
df[df['mas_vnr_type'].isna()]

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
22,2393,528142010,60,RL,103.0,12867,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,7,2006,New,344133
41,2383,528110050,20,RL,107.0,13891,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,465000
86,539,531371050,20,RL,67.0,10083,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,8,2009,WD,184900
212,518,528458020,20,FV,90.0,7993,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,10,2009,New,225000
276,2824,908130020,20,RL,75.0,8050,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,117250
338,1800,528458150,60,FV,112.0,12217,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,12,2007,New,310013
431,1455,907251090,60,RL,75.0,9473,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,3,2008,WD,237000
451,1120,528439010,20,RL,87.0,10037,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,8,2008,WD,247000
591,1841,533208040,120,FV,35.0,4274,Pave,Pave,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,11,2007,New,199900
844,1840,533208030,120,FV,30.0,5330,Pave,Pave,IR2,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,New,207500
913,2230,909475070,20,RL,NaN,32668,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2007,WD,200624
939,1123,528462040,20,FV,95.0,11639,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,12,2008,New,182000
1025,1784,528435010,20,RL,85.0,9965,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,9,2007,New,235876
1244,485,528275160,60,RL,NaN,12891,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,7,2009,WD,257500
1306,1752,528250010,80,RL,NaN,11950,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,10,2007,WD,165500
1430,1185,534104100,60,FV,NaN,7500,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2008,WD,205000
1434,1128,528480160,60,FV,65.0,8125,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,5,2008,WD,205950
1606,1096,528290090,60,RL,NaN,7750,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2008,WD,176000
1699,2261,916384070,20,RL,68.0,8298,Pave,None,IR1,HLS,...,0,0,NaN,NaN,NaN,0,9,2007,New,267300
1815,2456,528429100,20,RL,49.0,15218,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,336820
1820,1728,528218010,60,RL,59.0,15810,Pave,None,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,5,2007,New,181755
1941,56,528240070,60,RL,NaN,7851,Pave,None,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,5,2010,WD,216500

### Masonry Veneer Area

In [126]:
df['mas_vnr_area'].value_counts(dropna = False)

0.0      1216
NaN        22
120.0      11
176.0      10
200.0      10
         ...
142.0       1
215.0       1
235.0       1
233.0       1
426.0       1
Name: mas_vnr_area, Length: 374, dtype: int64

In [127]:
len(df[(df['mas_vnr_type'].isna()) & (df['mas_vnr_area'].isna())])

22

The nulls from Masonry Veneer Type and Area are the same ones.

### Basements!

I created this for-loop below to examine how many NAs existed in each basement column, to help me decide how to deal with them, since there's presumably at least some relationship betwen them. Rather than copying the code over and over again, I also returned to the for-loop to use as my sanity check as I cleaned the basement columns.

In [128]:
bsmt_list = df.columns[df.columns.str.contains('bsmt')].tolist()

bsmt_list

['bsmt_qual',
 'bsmt_cond',
 'bsmt_exposure',
 'bsmtfin_type_1',
 'bsmtfin_sf_1',
 'bsmtfin_type_2',
 'bsmtfin_sf_2',
 'bsmt_unf_sf',
 'total_bsmt_sf',
 'bsmt_full_bath',
 'bsmt_half_bath']

In [157]:
for i in bsmt_list:
    print(f'{i} has {df[i].isnull().sum()}')

bsmt_qual has 0
bsmt_cond has 0
bsmt_exposure has 0
bsmtfin_type_1 has 0
bsmtfin_sf_1 has 0
bsmtfin_type_2 has 56
bsmtfin_sf_2 has 0
bsmt_unf_sf has 0
total_bsmt_sf has 0
bsmt_full_bath has 0
bsmt_half_bath has 0

I was surprised by the variation on the number of NaNs. Knowing that some of the NaNs actually represent "No Basement", I thought there'd be a pretty consistent number.

I decided to start by looking at the smaller values to see what's going on to start.

### Basement Full Bath and Half Bath

In [130]:
df[df['bsmt_full_bath'].isna()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
616,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
df['bsmt_full_bath'].value_counts(dropna = False)

0.0    1200
1.0     824
2.0      23
NaN       2
3.0       2
Name: bsmt_full_bath, dtype: int64

I did the above two lines to get a sense of what was going on with these instances. It appears these NaNs should be 0.0, reflecting no basement. The same appears to be true for the half baths, which I checked below.

In [132]:
df['bsmt_full_bath'] = df['bsmt_full_bath'].fillna(0.0)

In [133]:
df['bsmt_full_bath'].value_counts(dropna = False)

0.0    1202
1.0     824
2.0      23
3.0       2
Name: bsmt_full_bath, dtype: int64

In [134]:
df[df['bsmt_half_bath'].isna()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
616,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [135]:
df['bsmt_half_bath'] = df['bsmt_half_bath'].fillna(0.0)

In [136]:
df['bsmt_half_bath'].value_counts(dropna = False)

0.0    1925
1.0     122
2.0       4
Name: bsmt_half_bath, dtype: int64

### Basement Sq Ft, Finished (both types) & Unfinished, Total

In [138]:
df[df['bsmt_unf_sf'].isna()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

Having looked at values in other instances, it appears this also should be 0.0, for no basement, as well.

In [139]:
df['bsmt_unf_sf'] = df['bsmt_unf_sf'].fillna(0.0)
df['bsmt_unf_sf'].isnull().sum()

0

In [140]:
df[df['bsmtfin_sf_1'].isnull()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0

In [141]:
df['bsmtfin_sf_1'] = df['bsmtfin_sf_1'].fillna(0.0)
df['bsmtfin_sf_1'].isnull().sum()

0

In [142]:
df[df['bsmtfin_sf_2'].isnull()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
1327,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0,0.0

In [143]:
df['bsmtfin_sf_2'] = df['bsmtfin_sf_2'].fillna(0.0)
df['bsmtfin_sf_2'].isnull().sum()

0

In [144]:
df[df['total_bsmt_sf'].isnull()][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
1327,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0

In [145]:
df['total_bsmt_sf'] = df['total_bsmt_sf'].fillna(0.0)
df['total_bsmt_sf'].isnull().sum()

0

### Basement Quality

The dictionary specifies that 'Na' is 'No Basement', so I'm going to cast it as such. This appears to bet true for the categorical basement elements.

In [146]:
df['bsmt_qual'].value_counts(dropna = False)

TA     887
Gd     864
Ex     184
Fa      60
NaN     55
Po       1
Name: bsmt_qual, dtype: int64

In [147]:
df['bsmt_qual'] = df['bsmt_qual'].fillna('No Basement')

In [148]:
df['bsmt_qual'].value_counts(dropna = False)

TA             887
Gd             864
Ex             184
Fa              60
No Basement     55
Po               1
Name: bsmt_qual, dtype: int64

### Basement Condition

The data dictionary says that 'Na' means None, so I'm making that explicit.

In [149]:
df['bsmt_cond'] = df['bsmt_cond'].fillna('No Basement')
df['bsmt_cond'].isnull().sum()

0

In [150]:
df['bsmt_cond'].value_counts()

TA             1834
Gd               89
Fa               65
No Basement      55
Po                5
Ex                3
Name: bsmt_cond, dtype: int64

### Basement Exposure
Dictionary says 'Na' means 'No Basement', so making that explicit.

In [151]:
df['bsmt_exposure'] = df['bsmt_exposure'].fillna('No Basement')
df['bsmt_exposure'].isna().sum()

0

In [152]:
df['bsmt_exposure'].value_counts()

No             1339
Av              288
Gd              203
Mn              163
No Basement      58
Name: bsmt_exposure, dtype: int64

### Basement Finish Type 1 and 2
The dictionary sas 'Na' means 'No Basement', so making that explicit. There's one more Finish Type 2 than Type 1, so I looked into that before making the change to 'No Basement'.

In [156]:
df['bsmtfin_type_1'] = df['bsmtfin_type_1'].fillna('No Basement')
df['bsmtfin_type_1'].value_counts()

GLQ            615
Unf            603
ALQ            293
BLQ            200
Rec            183
LwQ            102
No Basement     55
Name: bsmtfin_type_1, dtype: int64

In [159]:
df[(df['bsmtfin_type_2'].isnull()) & (df['bsmtfin_type_1'] != 'No Basement')][bsmt_list]

,bsmt_qual,bsmt_cond,bsmt_exposure,bsmtfin_type_1,bsmtfin_sf_1,bsmtfin_type_2,bsmtfin_sf_2,bsmt_unf_sf,total_bsmt_sf,bsmt_full_bath,bsmt_half_bath
1147,Gd,TA,No,GLQ,1124.0,NaN,479.0,1603.0,3206.0,1.0,0.0

In the original data frame there's one instance that has a null 'basmtfin_type_2' that clearly has a basement based on the other entries. Since I have no way of speculating what type that should be, I'm deleting this instance.

In [160]:
df.drop(index = df[(df['bsmtfin_type_2'].isnull()) & (df['bsmtfin_type_1'] != 'No Basement')].index, inplace = True)

In [161]:
df[(df['bsmtfin_type_2'].isnull()) & (df['bsmtfin_type_1'] != 'No Basement')][bsmt_list]

Empty DataFrame
Columns: [bsmt_qual, bsmt_cond, bsmt_exposure, bsmtfin_type_1, bsmtfin_sf_1, bsmtfin_type_2, bsmtfin_sf_2, bsmt_unf_sf, total_bsmt_sf, bsmt_full_bath, bsmt_half_bath]
Index: []

Now making the change to 'No Basement' on Finish Type 2

In [162]:
df['bsmtfin_type_2'] = df['bsmtfin_type_2'].fillna('No Basement')
df['bsmtfin_type_2'].value_counts()

Unf            1749
Rec              80
LwQ              60
No Basement      55
BLQ              48
ALQ              35
GLQ              23
Name: bsmtfin_type_2, dtype: int64